html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.row {
  text-align: center;
  padding-top: 20px;
}
img:nth-child(1) {
  border:3px solid #66cdaa;
  margin-right: 25px;
}
img:nth-child(2) {
  border:3px solid #66cdaa;
  margin-right: 25px;
}
img:nth-child(3) {
  border:3px solid #66cdaa;
}
[class*=icons] {
  font-family: fontawesome;
  font-size: 20px;
  color: #66cdaa;
  display:inline;
}
[class*=icons] > li {
  border: 3px solid #66cdaa;
  display: inline-block;
  padding:10px;
}
[class*=icons] > li:hover {
  background-color: #66cdaa;
  color:white;
}
.icons-1 {
  padding:4em;
}
.icons-3 {
  padding:4em;
}
