html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align:center;
  padding-top:20px;
}

.grid {
  display:inline-block;
}

li {
  border:2px solid #76b6da;
  height:300px;
  width:300px;
  overflow:hidden;
  display:inline-block;
}

div .footer {
  display:block;
  color:red;
}

.shirt-1:active {
  content: url(http://i157.photobucket.com/albums/t69/jacklynlee311/purple-back_zpsq9etp8ih.png);
}

.shirt-2:active {
  content: url(http://i157.photobucket.com/albums/t69/jacklynlee311/yellow-back_zpsejtdcgxa.png);
}

.shirt-3:active {
  content: url(http://i157.photobucket.com/albums/t69/jacklynlee311/red-back_zpsdlryq3uk.png);
}
